<% house_facade.members.each_with_index do |member, index| %>
  <center>
    <section class="house-member" id="<%= index %>">
      <h1 class="name"><%= link_to member.name, "https://www.google.com/search?q=#{member.name}" %></h1>

      <% if member.role %>
        <p class="role">Role: <%= member.role %></p>
      <% end %>

      <p class="house">House: <%= member.house %></p>

      <% if member.patronus %>
        <p class="patronus">Patronus: <%= member.patronus %></p>
      <% end %>
    </section><br>
  </center>
<% end %>
